.bg-padre{
    margin-left: 20%;
    margin-top: 3%;
 
}
.div-transfers{
    height: 70vh;
    width: 60vw;
    padding: 10px;
    border-radius: 25px;
    background-color: #894590;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem rgb(82, 79, 80));
    
}
.div-transfers h1{
    font-size: 1.5rem;
    color: #fff;
    padding: 5px;
}

.div-recipient p{ 
    background-color: #fff;
    height: 20vh;
    width: 10px;
}
.button-transferir{
    background-color: #FFC108;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #fff;
    
}
.div-history{
    overflow-y: scroll;
}
@media (max-width: 800px){
    .div-transfers{
        width: 70vw;
    }
    .bg-padre{
        margin-left: 15%;
    }
}
